.cove{
  margin-top: 20px;
}
.cover-info {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 520px;
  
  margin: 0 auto;
}
.form-container {
  padding: 30px;


}
.rbtn{
  width: 300px;
}
.form-container form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.form-container input,
.form-container select {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
}
.form-container input:focus,
.form-container select:focus {
  outline: none;
  border-color: #4D44B5;
  box-shadow: 0 0 0 2px rgba(77, 68, 181, 0.1);
}
.wrap {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  align-items: center;
}
.wrap select {
  flex: 1;
}
.sel{
  width: 900px;
}
.sel button {
  width: 100% !important;
 
}
.wrap button {
  background: #152259;
  color: white;
  border: none;
  font-size: 12px;

  padding: 6px 10px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.wrap button:hover {
  background: #152259;

}
.student-details {
  background:  #152259;
  color: white;
  border-radius: 20px 20px 0 0;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
}
.student-details h1{
  font-size: 20px;
  padding: 10px;
}
.error {
  color: #FF4D4D;
  font-size: 13px;
  height: 3px !important;
}

/* Responsive adjustments */
@media (max-width: 900px) {
  .cover-info {
    width: 95%;
  }
  
  .wrap {
    flex-direction: column;
  }
  
  .wrap button {
    width: 100%;
  }
}
