.nav-teacher {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.controllers {
  display: flex;
  gap: 10px;
}
.newest-button a {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  align-items: center;
}
.newest-button {
  width: 200px;
  border-radius: 25px;
  color: white;
  background-color: var(--Color-Purple, #152259);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 10px;
}

.Api-map-out {
  position: relative;
  top: 3%;
  width: 100%;
}
.identity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.cover-teacher {
  border-radius: 13px;
  padding: 15px;
  background-color: white;
  width: 90%;
}
.teacher-card {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
